# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IntelliJ
.idea

# macOS
*.DS_Store

# Client builds
/client/dist/*
!/client/dist/.gitkeep
/server/static/js/stratocumulus-client.bundle.js

# Environment
.env
.env.*
!.env.example
