<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stratocumulus</title>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #444444;
        }

        #sky {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="sky"></div>
    <script type="text/javascript">
      // Collect configuration and environment variables from
      // the server to be accessed by the client app.
      // This way we do not need to render server variables into client bundle.
      window.stratocumulus = {
        sseStreamUrl: "{{ url_for('sse.stream') }}",
        sseStreamKey: "{{ key }}"
      }
    </script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='stratocumulus-client.bundle.js') }}"></script>
</body>
</html>
